* {box-sizing: border-box;}

html,body{
    height: 100%;
}
a, button{
    cursor:pointer;
}
@keyframes pan{
    100%{background-position:15% 50%;}
}

body{
    display:grid;
    place-items:center;
    margin: 0;
    padding: 0 24px;
    background-image: url("polyy.png");
    background-repeat: no-repeat;
    background-size:cover;
    animation: pan 6s infinite alternate linear;
}
@media (width>= 500px){
    body{
        padding: 0;
    }
}

.login-card{
    width:100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background:#ffffff;
    text-align:center;
}
@media (width >= 500px){
    .login-card{
        margin:0;
        width:400px;
    }

}
.login-card>h2{
    margin: 0 0 12px;
    font-size:36px;
    font-weight:600;
}
.login-card>h3{
    margin: 0 0 30px;
    font-weight: 500px;
    font-size:16px;
    color: rgba(0,0,0,0.38);
}
.login-form{
    width:100%;
    margin: 0;
    display:grid;
    gap:16px;
}
.login-form > a {color:white;}
.login-form > input,

.login-form > button{
    width:100%;
    height:56px;
    padding: 0 16px;
    border-radius: 8px;
    background-color:white;
}
.login-form > input{
    border:2px solid #ebebeb;
}
.login-form
.button1:hover {
    opacity:0.8;
}
.button1:active{
    opacity: 0.4;
}
.button1 {
    border:none;
    outline:0;
    display: inline-block;
    padding: 8px 0;
    color: rgb(251, 255, 255);
    background-color: rgb(43, 144, 175);
    text-align:center;
    cursor:pointer;
    width:100%;
    font-size: 18px;
    text-decoration:none;
    border-radius: 18px;
   }

   .button1:hover {background-color: rgb(43, 144, 175)}

   .button1.button1:active {
   background-color: #3e4d8e;
   box-shadow: 0 5px rgb(43, 144, 175);
   transform: translateY(4px);
   }

   .input[type=submit]{ /*style the submit button*/
    background-color:#00ffb3;
    color: black;
}
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  #message {
    display:none;
    background: #f1f1f1;
    color: rgb(0, 0, 0);
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
